.title {
    font-size: 25px;
    text-transform: capitalize;
    padding: 10px;
    color: grey;
    border-bottom: 2px dashed $color-grey;
    width: 800px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.card {
   display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}
