

.cart {
    width: 20vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cartPlaceholder {
    height: 250px;
    width: 20vw;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../../img/empty-cart.png);
    background-size: cover;
}