.cart {
    position: fixed;
    top: 60px;
    right: 0;
    width: 20%;
    height: 90%;
    overflow: overlay;
}

.emptyCart {
    height: 250px;
    width: 20%;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-image: url(../../img/empty-cart.png);
    background-size: cover;
}
