/* .sidebar {
    list-style-type: none;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

li {
    padding: 30px;
}
 */

.navbarFood {
    display: flex;
    height: 50px;
    align-items: center;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: auto;
    color: $color-grey;
    text-transform: capitalize;
}

.button {
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
}

.button::after {
    content: '';
    position: absolute;
    width: 100%;
    height:2px;
    background: $color-orange;
    left: 0;
    bottom: 0;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.button:hover::after {
    transform: scale(1, 1);
}